<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2 th:text="#{signup.title}">회원 가입</h2>
    </div>
    <h4 class="mb-3" th:text="#{signup.message}">회원 정보 입력</h4>
    <form action="" th:action th:object="${member}" method="post">
        <div>
            <label for="loginId" th:text="#{signup.id}">로그인 ID</label>
            <input type="text" id="loginId" th:field="*{loginId}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{loginId}" />
        </div>
        <div>
            <label for="password" th:text="#{signup.password}">비밀번호</label>
            <input type="password" id="password" th:field="*{password}"
                   class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{password}" />
        </div>
        <div>
            <label for="name" th:text="#{signup.name}">이름</label>
            <input type="text" id="name" th:field="*{name}" class="form-control"
                   th:errorclass="field-error">
            <div class="field-error" th:errors="*{name}" />
        </div>
        <!-- radio button -->
        <p>
        <div th:text="#{signup.memberType}">회원 유형</div>
        <div th:each="type : ${memberTypes}" class="form-check form-check-inline">
            <input type="radio" th:field="*{memberType}" th:value="${type.name()}"
                   class="form-check-input" th:errorclass="field-error">
            <label th:for="${#ids.prev('memberType')}" th:text="${type.description}"
                   class="form-check-label">
                손님
            </label>
        </div>
        <div class="field-error" th:errors="*{memberType}" />
        </p>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.signup}">회원
                    가입</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>
