<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container-lg" th:object="${restaurant}">

    <div class="py-5 text-center">
        <h2 th:text="*{name}">식당이름</h2>
    </div>

    <div class="row" th:if="${member.memberType.description == '손님'}">
        <form th:if="${pick_status != true}" th:action="@{/restaurants/{id}/pick(id=*{id})}" method="post">
            <button class="btn-outline-danger float-end"
                    onclick="location.href='restaurant.html'"
                    type="submit">찜하기</button>
        </form>
        <form th:if="${pick_status == true}" th:action="@{/restaurants/{id}/unpick?redirectURI={param}(id=*{id}, param=${#httpServletRequest.requestURI})}" method="post">
            <button class="btn-outline-danger float-end"
                    onclick="location.href='restaurant.html'"
                    type="submit">찜 해제하기</button>
        </form>
    </div>

    <!-- 추가 -->
    <h4 th:if="${param.status}" th:text="'저장 완료'"></h4>

    <div class="row">
        <div class="col-3 align-self-center">
            <h4 th:if = "${restaurant.image == null}">
                썸네일 준비중
            </h4>
            <img th:if = "${restaurant.image != null}" th:src="|images/*{image}|" width="150" height="150"/>
        </div>
        <div class="col-2 align-self-center">
            <div class="row">
                <b>주소</b>
            </div>
            <div class="row">
                <b>전화번호</b>
            </div>
            <div class="row">
                <b>배달여부</b>
            </div>
        </div>
        <div class="col-4 align-self-center">
            <div class="row" th:text="*{address}">
                주소
            </div>
            <div class="row" th:text="*{phoneNumber}">
                전화번호
            </div>
            <div class="row" th:text="*{delivery}? 'O' : 'X'">
                배달여부
            </div>
        </div>
        <h2 class="col-3 align-self-center" th:text="|★*{#numbers.formatDecimal(average_star,0,1)}|">
            별점
        </h2>
    </div>

    <hr class="my-4">

    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{reply.date}">작성일</th>
                <th th:text="#{reply.writer}">작성자</th>
                <th th:text="#{reply.comment}">코멘트</th>
                <th th:text="#{reply.star}">별점</th>
                <th th:text="#{reply.remove}">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reply : *{replies}">
                <!--                <td><a>식당 사진</a></td>-->
                <td th:text="${reply.date}">작성일</td>
                <td th:text="${reply.member.name}">작성자</a></td>
                <td th:text="${reply.comment}">코멘트</td>
                <td th:text="|★${reply.star}|">0</td>
                <td>
                    <form th:if="${reply.member} == ${member}"
                            th:action="@{/restaurants/{restaurant_id}/{reply_id}/remove(restaurant_id=${restaurant.id}, reply_id=${reply.id})}" method="post">
                        <button class="btn-danger"
                                onclick="location.href='restaurant.html'"
                                type="submit">삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col" th:if="${member.memberType.description == '손님'}">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='addReply.html'"
                    th:onclick="|location.href='@{/restaurants/{id}/reply(id=*{id})}'|"
                    th:text="#{button.evaluate}">평가하기</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='restaurants.html'"
                    th:onclick="|location.href='@{/restaurants}'|"
                    type="button" th:text="#{button.home}">홈으로</button>
        </div>
    </div>


</div> <!-- /container -->
</body>
</html>